.card_container {
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.card_container.breaking {
  box-shadow: 0 4px 6px -1px #2563eb;
}
.card_container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.2);
}
.image_container {
  position: relative;
  height: 180px;
  overflow: hidden;
}

.card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.category_badge {
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 0.25rem 0.5rem;
  border: 1px solid #d3d3d383;
  border-radius: 3px;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
}

.bg_red {
  background-color: #dc2626;
}

.bg_green {
  background-color: #16a34a;
}

.bg_yellow {
  background-color: #ca8a04;
}

.bg_blue {
  background-color: #2563eb;
}

.bg_gray {
  background-color: #1f2937;
}

.bg_purple {
  background-color: #b226dd;
}

.breaking_badge {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #2563eb;
  color: white;
  padding: 0.25rem 0.75rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.6);
}

.trending_badge {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 0.25rem 1.5rem;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background-color: #0045da;
  border: 2px dashed #ffffff;
}

.card_content {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.meta_info {
  display: flex;
  align-items: center;
  color: #6b7280;
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.meta_separator {
  margin: 0 0.5rem;
}


.card_title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  line-height: 1.3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title_link {
  color: inherit;
}

.title_link:hover {
  color: #dc2626;
  transition: color 0.2s;
}

.card_excerpt {
  color: #4b5563;
  font-weight: 400;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  flex-grow: 1;
}

.card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e7eb;
  padding-top: 0.75rem;
  margin-top: auto;
}

.action_buttons {
  display: flex;
  gap: 0.5rem;
}

.action_button {
  color: #6b7280;
}

.action_button:hover {
  color: #dc2626;
  transition: color 0.2s;
}

.read_more_link {
  font-size: 0.875rem;
  font-weight: 600;
  color: #dc2626;
  display: flex;
  align-items: center;
}

.read_more_link:hover {
  color: #991b1b;
  transition: color 0.2s;
}

.read_more_icon {
  height: 1rem;
  width: 1rem;
  margin-left: 0.25rem;
}
